body {
    padding: 0;
    margin: 0;
    background: #f1eee8;
    color: #787878;
    -webkit-print-color-adjust: exact;
}

a {
    color: #5dc3b1;
}

#myweb {
    float: right;
    margin: 0;
}

.info_article div p {
    display: inline-block;
    margin: 5px auto;
}

.info_article div p:first-child {
    margin-left: 20px;
    width: 200px;
}

.info_article div p:last-child {
    margin-left: 30px;
}

.career .table {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

/* 行 */
.career .table > div {
    display: flex;
}

.career .table > div:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

/* 列 */
.career .table > div > div { 
    flex: 1;
    text-align: center;
    padding: 5px 0;
}

.career .table > div > div:not(:last-child) {
    border-right: 1px solid #ccc;
}

.skill_article li {
    margin: 5px auto;
}

.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 600px;
    padding: 0 30px;
}

li::before {
    font-size: 1px;
}

h3 {
    color: #6b6b6b;
}

h4 {
    display: inline-block;
    background: #5dc3b1;
    color: #fff;
    padding: 4px 8px;
    margin: 0 10px;
}

.music_player,
.todo
{
    display: flex;
    justify-content:space-around;
}

.personal_blog,
.weather_forecast,
.banner {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
}


img {
    width: auto;
    height: 340px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.banner img {
    border-radius: 50px;
}

.music_player img {
    margin-left: 20px;
}

.todo img {
    border-radius: 0;
    height: 450px;
    margin-left: 20px;
}

.blog_img {
    display: flex;
    justify-content: space-around;
}

.personal_blog {
    margin-bottom: 20px;
}

.content li {
    margin: 5px auto;
    /* text-indent: 2em; */
    line-height: 25px;
    /* text-align: center; */
}

h5 {
    margin: 15px 0 15px 20px;
    font-size: 16px;
}

.program_article h4:first-child {
    margin-top: 0;
}

.program_article h4 {
    margin-top: 20px;
}

.keywords {
    position: relative;
    display: inline-flex;
}

.keywords > .line-back {
    position: absolute;
    width: calc(100% - 10px);
    height: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1D7D71;
}

.keywords > span {
    background-color: #5dc3b1;
    padding: 3px 5px;
    color: #fff;
    z-index: 1;
}

.keywords > span:not(:first-child) {
    margin-left: 10px;
}

/* .info {
    padding-top: 20px;
}

.program {
    padding-top: 80px;
}

#page_3 {
    margin-top: 100px !important;
} */